
*{
margin: 0;
padding: 0;

}

.main{
width: 100%;
background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(snow-background.jpeg);
background-position: center;
background-size: cover;
height: 109vh;
background-position: center;

}


.icon{
    width: 300px;
    float: left;
    height: 200px;
    font-size: 50px;

}

.logo{
    color: rgb(173, 139, 151);
    font-size: 50px;
    font-family: cursive, serif;
    cursor: pointer;

}

span{
    color: rgb(127, 46, 13);
}

.menu{
    width:480px;
    float: left;
    height: 70px;

}

ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    color: antiquewhite;

}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold ;
    transition: 0.4s ease ease-in-out;

}

ul li a:hover{
    color: rgb(142, 21, 65);

}

.btn{
    background-color: darkslategrey;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin: 10px 2000px;

}

.btn:hover{
    transform: scale(1.2);
}



h1{
    color: white;
    margin: 200px 50px 60px;
    font-size: 45px;

}
h2{
    color: darksalmon;
    font-size: 40px;
}
 p{
    color: white;
    font-style: initial;
    font-size: 30px;
 }

h3{

    color: white ;
    margin: 40px 50px 70px;
    margin-bottom: 50px;
    font-size: 25px;
}



.newslatter form{
    width: 380px;
    max-width:100%;
    position: relative;

}

.newslatter form input:first-child{
display: inline-block;
width: 100%;
padding: 14px 130px 14px 15px;
border: 2px solid;
outline: none;
border-radius:30px;



}

.newslatter form input:last-child{
position: absolute;
display: inline-block;
outline: none;
border: none;
padding: 10px 30px;
border-radius: 30px;
background-color: dimgray;
color: white;
box-shadow: 0;
box-shadow: 0px, 0px, 5px #000, 0px 0px 15px;
top: 6px;
right: 6px;
}




img{
    border-radius: 50%;
    height: px;
    width: px;
    margin-bottom: 40px;
    margin-top: 40px;
 
}

h5{
    font-style: inherit;
    font-size: 35px;

}